<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>顯示</title>
</head>
<body>
<h1>顯示資料</h1>
<div th:if="${find != null}">
  <p th:text="'餐點為:'+${find.orderItem}"></p>
  <p th:text="'價格為:'+${find.orderPrice}"></p>
</div>
<div th:if="${find == null}">
  <p>不存在</p>
</div>
<div>
  <form th:action="@{/find}" method="get">
    <button type="submit" value="繼續點餐">繼續點餐</button>
  </form>
  <br>
  <form th:action="@{/home}" method="get">
    <button type="submit" value="回首頁">回首頁</button>
  </form>
</div>
</body>
</html>