<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<div>
  <h2 th:text="'使用者:'+${showAccountPassword.username}"></h2>
  <!--p th:text="'密碼為:'+${showAccountPassword.password}"></p-->
</div>
<div>
  <h2>首頁</h2>
  <div>
    <form action="#" th:action="@{/getMenu}" th:object="${showAccountPassword}" method="get">
      <input type="hidden" th:field="*{username}"/>
      <!input type="hidden" th:field="*{password}"/>
      <input type="submit" value="查看菜單"/>
    </form>
  </div>
  <br>
  <div>
    <form action="#" th:action="@{/getOrder}" th:object="${showAccountPassword}" method="get">
      <input type="hidden" th:field="*{username}"/>
      <!input type="hidden" th:field="*{password}"/>
      <input type="submit" value="我的訂單">
    </form>
  </div>
  <br>
  <div>
    <form action="#" th:action="@{/find}" th:object="${showAccountPassword}" method="get">
      <input type="hidden" th:field="*{username}"/>
      <!input type="hidden" th:field="*{password}"/>
      <input type="submit" value="點餐">
    </form>
  </div>
  <br>
  <div>
    <form action="#" th:action="@{/chooseDel}" th:object="${showAccountPassword}" method="get">
      <input type="hidden" th:field="*{username}"/>
      <!input type="hidden" th:field="*{password}"/>
      <input type="submit" value="取消餐點">
    </form>
  </div>

</div>
<br>

<div>
  <a th:href="@{/login}">回登入頁面</a>
</div>

</body>
</html>