<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
<div>
  <h2>首頁</h2>
  <form th:action="@{/getmenu}" method="post">
    <button type="submit" value="查看菜單">查看菜單</button>
  </form>
  <br>
  <form th:action="@{/getorder}" method="post">
    <button type="submit" value="我的訂單">我的訂單</button>
  </form>
  <br>
  <form th:action="@{/find}" method="post">
    <button type="submit" value="點餐">點餐</button>
  </form>
</div>
</body>
</html>